*{
	box-sizing: border-box;
}

body{
	background-color:#FAF7FF;
	margin:0;
}

header{
	color:black;
	text-align: center;
	font-size:60px;
	font-family:'Times New Roman';
	text-shadow: 1px 1px 3px black;
}

div{
	text-align: center;
	padding:0;
}

thead th { 
	position: sticky; 
	top: -1px; 
	background-color:#202040;
	color:white;
}

td{
	color:black;
}

table{
	text-align: center;
}

.red{
	color:#a00;
	font-weight: 700;
}

.green{
	color:#090;
	font-weight: 700;
}

@media (max-width: 576px){
	table{
		font-size:14px;
	}
}

@media (max-width: 350px){
	table{
		font-size:12px;
	}

	table td{
		padding:0;
	}
}